# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.egg-info/
.eggs/

# Virtual envs
.env/
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Node/Web caches
node_modules/
.docusaurus/
.cache/

# Editor
.vscode/
.idea/
